- name: Import Jenkins GPG key
  rpm_key:
    state: present
    key: https://pkg.jenkins.io/redhat-stable/jenkins.io-2023.key

- name: Add Jenkins repository
  get_url:
    url: https://pkg.jenkins.io/redhat-stable/jenkins.repo
    dest: /etc/yum.repos.d/jenkins.repo

- name: Install Jenkins and Java
  dnf:
    name: [jenkins, java-17-openjdk]
    state: present

- name: Start Jenkins
  service:
    name: jenkins
    state: started
    enabled: yes