apiVersion: apps/v1
kind: Deployment
metadata:
  name: demo
spec:
  replicas: 2
  selector:
    matchLabels:
      app: demo
  template:
    metadata:
      labels:
        app: demo
    spec:
      containers:
        - name: demo
          image: pacapu/devops:1.0
          imagePullPolicy: Always
          ports:
            - containerPort: 8181
          envFrom:
            - configMapRef:
                name: demo-config
            - secretRef:
                name: demo-secret
          resources:
            requests:
              cpu: "100m"
              memory: "256Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"