apiVersion: v1
kind: Service
metadata:
  name: todo-app-service
spec:
  type: NodePort
  selector:
    app: todo-app
  ports:
    - protocol: TCP
      port: 8181       # Порт внутри кластера
      targetPort: 8181 # Порт в самом приложении (твоем Spring Boot)
      nodePort: 30080  # Внешний порт. Доступ будет: http://<твой-ip>:30081