version: '3.8'

services:
  db:
    image: postgres:15-alpine # Оптимизация: Alpine версия базы данных
    container_name: postgres_db
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data # Named volume для персистентности
    networks:
      - todo_network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 5

  app:
    build:
      context: ..
      dockerfile: Docker/Dockerfile
    container_name: spring_app
    ports:
      - "${APP_PORT}:8181"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/${POSTGRES_DB}
      SPRING_DATASOURCE_USERNAME: ${POSTGRES_USER}
      SPRING_DATASOURCE_PASSWORD: ${POSTGRES_PASSWORD}
      SPRING_JPA_HIBERNATE_DDL_AUTO: update
    depends_on:
      db:
        condition: service_healthy # Оптимизация запуска: ждем готовности БД
    networks:
      - todo_network

volumes:
  postgres_data: # Объявление именованного volume

networks:
  todo_network: # Кастомная сеть
    driver: bridge